<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>News2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>



<div sec:authorize="hasRole('teacher')">
    <p>Welcome <td th:each="tempTeacher : ${teacherList}" th:if="${tempTeacher.id.equals(tempTeacherName)}" th:text="${tempTeacher.firstName}"/> to online journal!</p>
    <div class="user">
        User: <span sec:authentication="principal.username"></span>
    </div>
    </br>

    <br>
    <div class="role">
        Role: <span sec:authentication="principal.authorities"></span>
    </div>

    <form role="form" class="form-horizontal" action="#" th:action="@{/showTeacherLoginPage/logout}"
          method="POST">

        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Logout</button>
        </div>
    </form>
    <div class="table-warning text-center col-6">

        <a th:href="@{/journal(teacherName=${tempTeacherName})}" class="btn btn-primary btn-sm"
           role="button">Journal</a>


        <a th:href="@{/grades(teacherName=${tempTeacherName})}" class="btn btn-danger btn-sm"
           role="button">Grades</a>


        <a th:href="@{/students(teacherName=${tempTeacherName})}" class="btn btn-warning btn-sm"
           role="button">Students</a>

        <a th:href="@{/news(teacherName=${tempTeacherName})}" class="btn btn-success btn-sm"
           role="button">News</a>

    </div>

</div>


<div sec:authorize="hasRole('student')">
    <p>Welcome <td th:each="tempStudent : ${studentList}" th:if="${tempStudent.id.equals(tempStudentName)}"
                   th:text="${tempStudent.firstName}" /> to online journal!</p>
    <div class="user">
        User: <span sec:authentication="principal.username"></span>
    </div>
    </br>

    <br>
    <div class="role">
        Role: <span sec:authentication="principal.authorities"></span>
    </div>

    <form role="form" class="form-horizontal" action="#" th:action="@{/showMyLoginPage/logout}"
          method="POST">

        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Logout</button>
        </div>
    </form>
    <div class="table-warning text-center col-4">

        <a th:href="@{/journal(studentName=${tempStudentName})}" class="btn btn-primary btn-sm"
           role="button">Journal</a>


        <a th:href="@{/grades(studentName=${tempStudentName})}" class="btn btn-danger btn-sm"
           role="button">Grades</a>

        <a th:href="@{/news(studentName=${tempStudentName})}" class="btn btn-success btn-sm"
           role="button">News</a>


    </div>

</div>


<p></p>

<div class="container">
    <h3 class="text-muted">St. Petersburg international salon of education 2020</h3>
    <hr class="my-4">

</div>

<p></p>

<div class="container-text">
    <h4 class="text-warning">26 April 2020</h4>
    <h4 class="text-info"><br>
        In 2020, as part of the St. Petersburg international salon of education, the St. Petersburg education Committee will
        take part in the MMSO 2020 exhibition in the Public policy cluster.<br>
        <br>The stand will be organized by:<br>
        <ul type="disc">
            <br><li>exhibition area (for presentation by educational institutions of joint educational projects,
        including methodological developments created by St. Petersburg manufacturers, as well as their social
            partners, as well as for conducting master classes);</li><br>
            <br><li>conference area (for events in various formats (experience presentations, case studies, practice
        presentations, panel discussions, round tables, master classes) with representatives of the St. Petersburg
        education system);</li><br>
        <br><li>lounge area (for free communication between representatives of the St. Petersburg education system and
        regional delegations);</li><br>
        <br><li>meeting room (for the heads of the Committee and educational institutions to meet with MSO
            exhibitors).</li><br>
        </ul>

       </h4>
    <p></p>




</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>