<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>News1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link th:href="@{/css/news.css}" type="text/css" rel="stylesheet"/>
</head>
<body>


<div sec:authorize="hasRole('teacher')">

    <header id="header-teach">
        <div class="container-fluid table-warning">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-12 text-nowrap">
                            <li class="welcome text-center text-nowrap mr-4 mt-3">
                                <p>Welcome
                                <td th:each="tempTeacher : ${teacherList}"
                                    th:if="${tempTeacher.id.equals(tempTeacherName)}"
                                    th:text="${tempTeacher.firstName}"/>
                                to online journal!</p>

                            </li>

                            <li class="nav-image">
                                <img th:src="@{/images/profile.jpg}" alt="Profile" style="width:75px;">
                            </li>

                            <li class="user mr-4 mt-3 text-info">
                                User: <span sec:authentication="principal.username"></span>
                            </li>

                            <li class="role mt-3 text-info">
                                Role: <span sec:authentication="principal.authorities"></span>
                            </li>
                            <li>

                                <form role="form" class="form-horizontal col-lg-12 text-center" action="#"
                                      th:action="@{/showTeacherLoginPage/logout}"
                                      method="POST">

                                    <div class="col-lg-12 mt-2">
                                        <button type="submit" class="btn btn-success">Logout</button>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a th:href="@{/journal(teacherName=${tempTeacherName})}"
                                   class="text-light">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/grades(teacherName=${tempTeacherName})}" class="text-light">Grades</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/students(teacherName=${tempTeacherName})}"
                                   class="text-light">Students</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/news(teacherName=${tempTeacherName})}" class="text-light">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>

</div>


<div sec:authorize="hasRole('student')">

    <header id="header-stud">
        <div class="container-fluid table-warning">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-12 text-nowrap">
                            <li class="welcome text-center text-nowrap mr-4 mt-3">
                                <p>Welcome
                                <td th:each="tempStudent : ${studentList}"
                                    th:if="${tempStudent.id.equals(tempStudentName)}"
                                    th:text="${tempStudent.firstName}"/>
                                to online journal!</p>

                            </li>

                            <li class="nav-image">
                                <img th:src="@{/images/profile.jpg}" alt="Profile" style="width:75px;">
                            </li>

                            <li class="user mr-4 mt-3 text-info">
                                User: <span sec:authentication="principal.username"></span>
                            </li>

                            <li class="role mt-3 text-info">
                                Role: <span sec:authentication="principal.authorities"></span>
                            </li>
                            <li>

                                <form role="form" class="form-horizontal col-lg-12 text-center" action="#"
                                      th:action="@{/showMyLoginPage/logout}"
                                      method="POST">

                                    <div class="col-lg-12 mt-2">
                                        <button type="submit" class="btn btn-success">Logout</button>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a th:href="@{/journal(studentName=${tempStudentName})}"
                                   class="text-light">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/grades(studentName=${tempStudentName})}" class="text-light">Grades</a>
                            </li>

                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/news(studentName=${tempStudentName})}" class="text-light">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>

</div>


<p></p>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-muted font-weight-bold col-lg-5">The September period of State final certification has started in St. Petersburg</h3>
            <hr class="my-4 col-lg-6">
        </div>
    </div>

</div>


<p></p>


<div class="container-fluid container-text">
    <div class="row">
        <div class="col-lg-11 ml-auto">
            <h4 class="text-muted font-weight-bold">3 September 2019</h4>
            <h4 class="text-muted col-lg-8"><br>
                An additional period of State final certification has started. Today, September 3, graduates of the 9th and
                11th grades of the city's schools passed the Russian language exams. To pass the test, children need to score
                at least 36 points.<br>
                <br>During the September period, the GIA registered 262 eleventh-graders and 1,161 ninth-graders.
                The final wave is attended by students who did not pass the certification in the main and reserve terms
                for a good reason or received an unsatisfactory result earlier. Exams will be held both on the basis of General
                education institutions in the city and at home. This opportunity is provided for children with disabilities.<br>
                <br>The next exam – in mathematics-will be held on September 6. Unlike eleventh-graders, ninth-graders will
                not be limited to two compulsory subjects. They will be tested in history, biology, physics, geography,
                social studies and other disciplines. The additional period ends on September 20.<br>

            </h4>
            <p></p>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>



</body>
</html>