<!DOCTYPE HTML>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
          rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/grades-teach.css}" type="text/css"/>
</head>
<body>


<div sec:authorize="hasRole('teacher')">

    <header id="header-teach">
        <div class="container-fluid table-warning">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-12 text-nowrap">
                            <li class="welcome text-center text-nowrap mr-4 mt-3">
                                <p>Welcome
                                <td th:each="tempTeacher : ${teacherList}"
                                    th:if="${tempTeacher.id.equals(tempTeacherName)}"
                                    th:text="${tempTeacher.firstName}"/>
                                to online journal!</p>

                            </li>

                            <li class="nav-image">
                                <img alt="Profile" style="width:75px;" th:src="@{/images/profile.jpg}">
                            </li>

                            <li class="user mr-4 mt-3 text-info">
                                User: <span sec:authentication="principal.username"></span>
                            </li>

                            <li class="role mt-3 text-info">
                                Role: <span sec:authentication="principal.authorities"></span>
                            </li>
                            <li>

                                <form action="#" class="form-horizontal col-lg-12 text-center" method="POST"
                                      role="form"
                                      th:action="@{/showTeacherLoginPage/logout}">

                                    <div class="col-lg-12 mt-2">
                                        <button class="btn btn-success" type="submit">Logout</button>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a class="text-light"
                                   th:href="@{/journal(teacherName=${tempTeacherName})}">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a aria-disabled="true" class="disabled"
                                   th:href="@{/grades(teacherName=${tempTeacherName})}">Grades</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a class="text-light"
                                   th:href="@{/students(teacherName=${tempTeacherName})}">Students</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a class="text-light" th:href="@{/news(teacherName=${tempTeacherName})}">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>
</div>


<div sec:authorize="hasRole('student')">

    <header id="header-stud">
        <div class="container-fluid table-warning">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-12 text-nowrap">
                            <li class="welcome text-center text-nowrap mr-4 mt-3">
                                <p>Welcome
                                <td th:each="tempStudent : ${studentList}"
                                    th:if="${tempStudent.id.equals(tempStudentName)}"
                                    th:text="${tempStudent.firstName}"/>
                                to online journal!</p>

                            </li>

                            <li class="nav-image">
                                <img alt="Profile" style="width:75px;" th:src="@{/images/profile.jpg}">
                            </li>

                            <li class="user mr-4 mt-3 text-info">
                                User: <span sec:authentication="principal.username"></span>
                            </li>

                            <li class="role mt-3 text-info">
                                Role: <span sec:authentication="principal.authorities"></span>
                            </li>
                            <li>

                                <form action="#" class="form-horizontal col-lg-12 text-center" method="POST"
                                      role="form"
                                      th:action="@{/showMyLoginPage/logout}">

                                    <div class="col-lg-12 mt-2">
                                        <button class="btn btn-success" type="submit">Logout</button>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a class="text-light"
                                   th:href="@{/journal(studentName=${tempStudentName})}">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a aria-disabled="true" class="disabled"
                                   th:href="@{/grades(studentName=${tempStudentName})}">Grades</a>
                            </li>

                            <li class="nav-panel col-lg-2">
                                <a class="text-light" th:href="@{/news(studentName=${tempStudentName})}">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>


</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="btn-group col-lg-6 mr-auto">
            <div class="col-lg-8 mr-4">

                <div style="text-align: right; padding-bottom: 20px;">


                    <select class="selectpicker" data-style="btn-success text-light" data-width="225px" id="id_dateId"
                            onchange="date_class_student()" title="select date">


                        <div class="dropdown-menu">
                            <option class="dropdown-item" value="">None</option>
                            <option class="dropdown-item" th:each="date : ${dateLessonMonthList}" th:selected="${date.equals(datLesson)}"
                                    th:text="${date}" th:value="${date}">

                            </option>
                        </div>
                    </select>
                </div>
            </div>

            <div class="col-lg-3 ml-auto mr-4">
                <div style="text-align: left; padding-bottom: 20px;">

                    <select class="selectpicker" data-style="btn-success text-light"
                            data-width="225px" id="id_courseId" onchange="date_class_student()"
                            title="select course">

                        <div class="dropdown-menu">
                            <option class="dropdown-item" value="">None</option>
                            <option class="dropdown-item" th:each="course : ${courseWholeList}"
                                    th:selected="${course.courseShortName.equals(courseName)}"
                                    th:text="${course.courseName}"
                                    th:value="${course.courseShortName}">
                            </option>
                        </div>
                    </select>


                </div>
            </div>

        </div>
    </div>
</div>
</div>


<div sec:authorize="hasRole('teacher')">

    <script>
        function date_class_student() {
            var date = document.getElementById("id_dateId").value;
            var classNameStudent = document.getElementById("id_instId").value;
            var courseNameStudent = document.getElementById("id_courseId").value;
            var studentName = document.getElementById("id_studentName").value;
            var teacherName = [[${tempTeacherName}]];
            window.location = 'grades?datLesson=' + date + '&courseName=' + courseNameStudent + '&clName=' + classNameStudent + '&studentName='
                + studentName + '&teacherName=' + teacherName;
        }
    </script>


    <div class="container-fluid">
        <div class="row">
            <div class="btn-group group ml-auto  col-lg-6">

                <div class="col-lg-3 ml-auto mr-4">
                    <div style="text-align: left; padding-bottom: 20px;">

                        <select class="selectpicker" data-style="btn-success text-light" data-width="225px"
                                id="id_instId"
                                onchange="date_class_student()" title="select student class">
                            <div class="dropdown-menu">
                                <option class="dropdown-item" value="">None</option>
                                <option class="dropdown-item" th:each="className : ${classnameStudentList}"
                                        th:selected="${className.equals(classNameStudent)}"
                                        th:text="${className}" th:value="${className}">

                                </option>
                            </div>
                        </select>

                    </div>
                </div>


                <div class="col-lg-9 ml-4">
                    <div style="text-align: left; padding-bottom: 20px;">

                        <select class="selectpicker" data-style="btn-success text-light" data-width="350px"
                                id="id_studentName" name="id_studentName" onchange="date_class_student()"
                                title="select student">

                            <div class="dropdown-menu">
                                <option class="dropdown-item" value="">None</option>
                                <option class="dropdown-item" th:each="tempStudent : ${studentList}"
                                        th:selected="${tempStudent.id.equals(tempStudentName)}"
                                        th:text="${tempStudent.lastName} + ' ' + ${tempStudent.firstName}  + ' ' + ${tempStudent.middleName}"
                                        th:value="${tempStudent.id}">
                                </option>
                            </div>
                        </select>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="hasRole('student')">

    <script>
       function date_class_student() {
           var date = document.getElementById("id_dateId").value;
           var courseNameStudent = document.getElementById("id_courseId").value;
           var studentName = document.getElementById("id_studentName").value;
           window.location = 'grades?datLesson=' + date + '&courseName=' + courseNameStudent + '&studentName='
               + studentName;
       }
   </script>

   <div class="container-fluid">
       <div class="row">
           <div class="btn-group group ml-auto mr-4 col-lg-6">

               <div class="col-lg-9 mr-auto ml-3">
                   <div style="text-align: left; padding-bottom: 20px;">

                       <select class="selectpicker" data-style="btn-success text-light" data-width="350px"
                               id="id_studentName" name="id_studentName" title="select student">

                           <div class="dropdown-menu">
                               <option class="dropdown-item" disabled value="">None</option>
                               <option class="dropdown-item" disabled
                                       th:each="tempStudent : ${studentList}"
                                       th:selected="${tempStudent.id.equals(tempStudentName)}"
                                       th:text="${tempStudent.lastName} + ' ' + ${tempStudent.firstName}  + ' ' + ${tempStudent.middleName}" th:value="${tempStudent.id}">
                               </option>
                           </div>
                       </select>
                   </div>

               </div>
           </div>
       </div>
   </div>


</div>

<p></p>


<div th:each="tempCourseList : ${courseList}">

    <div class="row">

        <div class="col-lg-12 mt-4">

            <div class="table-responsive ml-5">


                <table border="1" class="table-hover"
                       th:classappend="${(countCourse.size == 1 ? 'col-lg-' + (countCourse.size + 2) : '') + (countCourse.size == 2 ? 'col-lg-' + (countCourse.size + 1) : '') + ((countCourse.size > 2 and countCourse.size < 13) ? 'col-lg-' + countCourse.size : '') + (countCourse.size > 12 ? 'col-lg-12' : '')}"


                       th:each="tempGrades,countCourse : ${grades.?[shortname_course == #root.tempCourseList.courseShortName]}">


                    <thead>

                    <div th:if="${countCourse.first}">
                        <div class="col-lg-12">

                            <tr>


                                <td class="table-warning col-lg-2 w-60 font-weight-bold"
                                    rowspan="2">
                                    Student Name
                                </td>


                                <td class="table-warning text-center col-lg-6 w-40 font-weight-bold" th:colspan="${100}"
                                    th:text="${tempGrades.shortname_course}">Short Name Course
                                </td>

                            </tr>

                            <tr>
                                <div th:each="tempDataRow : ${dateFullFormatLessonList}">

                                    <div th:each="tempNumberLesson : ${ClassScheduleList}">
                                        <div th:each="tempGradesDataNumberLesson,countDataNumberLesson : ${grades.?[shortname_course == #root.tempCourseList.courseShortName  and date_lesson == #root.tempDataRow.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]}">
                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDataRow.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) > 1}">

                                                <td class="table-warning text-center col-lg-6" colspan="1" id="nowrap"
                                                    th:if="${countDataNumberLesson.first}"
                                                    th:text="${#dates.format(tempGradesDataNumberLesson.date_lesson, 'dd.MM')}">

                                                </td>

                                            </div>
                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDataRow.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) == 1}">

                                                <td class="table-warning text-center col-lg-6" colspan="1"
                                                    id="nowrap"
                                                    th:text="${#dates.format(tempGradesDataNumberLesson.date_lesson, 'dd.MM')}">

                                                </td>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </tr>

                        </div>
                    </div>

                    </thead>

                    <tbody>
                    <div th:each="tempStudentList : ${studentList}">

                        <tr class="table-warning"
                            th:each="tempGradesCourseStudent,countCourseStudent : ${grades.?[shortname_course == #root.tempCourseList.courseShortName and last_name == #root.tempStudentList.lastName and first_name == #root.tempStudentList.firstName and middle_name == #root.tempStudentList.middleName]}"
                            th:if="${countCourse.first}">


                            <div class="justify-content-start align-items-center col-lg-3"
                                 th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and last_name == #root.tempStudentList.lastName and first_name == #root.tempStudentList.firstName and middle_name == #root.tempStudentList.middleName]) > 1 and countCourseStudent.first}">
                                <td class="text-nowrap" th:if="${countCourse.first}"

                                    th:text="${tempGradesCourseStudent.last_name} + ' ' + ${tempGradesCourseStudent.first_name}  + ' ' + ${tempGradesCourseStudent.middle_name}"/>

                                <div th:each="tempDateStudent : ${dateFullFormatLessonList}">
                                    <div th:each="tempNumberLesson : ${ClassScheduleList}">

                                        <div th:each="tempGradesNumberLesson,countNumberLesson : ${grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]}">

                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) > 1}">
                                                <td class="text-center col-lg-3"
                                                    th:if="${tempGradesCourseStudent.last_name == tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name == tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name == tempGradesNumberLesson.middle_name}"
                                                    th:text="${tempGradesNumberLesson.overall_score}">
                                            </div>
                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) == 1}">

                                                <td class="text-center col-lg-3"
                                                    th:if="${tempGradesCourseStudent.last_name == tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name == tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name == tempGradesNumberLesson.middle_name}"
                                                    th:text="${tempGradesNumberLesson.overall_score}"/>

                                                <td class="text-center col-lg-3"
                                                    th:if="${tempGradesCourseStudent.last_name != tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name != tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name != tempGradesNumberLesson.middle_name}">
                                                    &nbsp
                                                </td>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3"
                                 th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and last_name == #root.tempStudentList.lastName and first_name == #root.tempStudentList.firstName and middle_name == #root.tempStudentList.middleName]) == 1 and countCourseStudent.first}">
                                <td class="text-nowrap" th:if="${countCourse.first}"

                                    th:text="${tempGradesCourseStudent.last_name} + ' ' + ${tempGradesCourseStudent.first_name}  + ' ' + ${tempGradesCourseStudent.middle_name}"/>

                                <div th:each="tempDateStudent : ${dateFullFormatLessonList}">
                                    <div th:each="tempNumberLesson : ${ClassScheduleList}">

                                        <div ]
                                             th:each="tempGradesNumberLesson,countNumberLesson : ${grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]}">

                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) > 1}">
                                                <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule and last_name == #root.tempStudentList.lastName and first_name == #root.tempStudentList.firstName and middle_name == #root.tempStudentList.middleName]) > 0}">
                                                    <td class="text-center col-lg-3"
                                                        th:if="${tempGradesCourseStudent.last_name == tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name == tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name == tempGradesNumberLesson.middle_name}"
                                                        th:text="${tempGradesNumberLesson.overall_score}"/>
                                                </div>

                                                <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule and last_name == #root.tempStudentList.lastName and first_name == #root.tempStudentList.firstName and middle_name == #root.tempStudentList.middleName]) == 0}">
                                                    <td class="text-center col-lg-3"
                                                        th:if="${tempGradesCourseStudent.last_name != tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name != tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name != tempGradesNumberLesson.middle_name and countNumberLesson.first}">
                                                        &nbsp
                                                    </td>
                                                </div>

                                            </div>

                                            <div th:if="${#lists.size(grades.?[shortname_course == #root.tempCourseList.courseShortName and date_lesson == #root.tempDateStudent.dateLesson and number_lesson == #root.tempNumberLesson.numberLessonClShedule]) == 1}">

                                                <td class="text-center col-lg-3"
                                                    th:if="${tempGradesCourseStudent.last_name == tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name == tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name == tempGradesNumberLesson.middle_name}"
                                                    th:text="${tempGradesNumberLesson.overall_score}"/>

                                                <td class="text-center col-lg-3"
                                                    th:if="${tempGradesCourseStudent.last_name != tempGradesNumberLesson.last_name and tempGradesCourseStudent.first_name != tempGradesNumberLesson.first_name and tempGradesCourseStudent.middle_name != tempGradesNumberLesson.middle_name}">
                                                    &nbsp
                                                </td>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                    </div>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>




<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

</body>
</html>