<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>

<div sec:authorize="isAnonymous()">
<form action="1" th:action="@{/showMyLoginPage}">
    <input type="submit" class="btn btn-success" value="LOGIN FOR STUDENTS AND PARENTS ">
</form>
<p></p><p></p>
    <form action="2" th:action="@{/showTeacherLoginPage}">
        <input type="submit" class="btn btn-warning" value="LOGIN FOR TEACHEARS">
    </form>
</div>

<div sec:authorize="hasRole('student')">
    <p>Welcome to online journal!</p>
    <div class="user">
        User: <span sec:authentication="principal.username"></span>
    </div>
    </br>

    <br>
    <div class="role">
        Role: <span sec:authentication="principal.authorities"></span>
    </div>

    <form role="form" class="form-horizontal" action="#" th:action="@{/showMyLoginPage/logout}"
          method="POST">

<div class="col-md-12">
    <button type="submit" class="btn btn-success">Logout</button>
</div>
</form>


</div>


<div sec:authorize="hasRole('teacher')">
    <p>Welcome to online journal!</p>
    <div class="user">
        User: <span sec:authentication="principal.username"></span>
    </div>
    </br>

    <br>
    <div class="role">
        Role: <span sec:authentication="principal.authorities"></span>
    </div>

    <form role="form" class="form-horizontal" action="#" th:action="@{/showTeacherLoginPage/logout}"
          method="POST">

        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Logout</button>
        </div>
    </form>
    <div class="table-warning text-center col-4">

        <a th:href="@{/journal}" class="btn btn-primary btn-sm"
           role="button">Journal</a>


        <a th:href="@{/grades}" class="btn btn-danger btn-sm"
           role="button">Grades</a>

        <a th:href="@{/students}" class="btn btn-warning btn-sm"
           role="button">Students</a>

    </div>

</div>

<!--bnm-->

</body>
</html>