<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link th:href="@{/css/journal-teach.css}" type="text/css" rel="stylesheet"/>
</head>

<body>


<div sec:authorize="hasRole('teacher')">


    <header id="header-teach">
        <div class="container-fluid table-warning">
            <div class="row">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-12 text-nowrap">
                            <li class="welcome text-center text-nowrap mr-4 mt-3">
                                <p>Welcome
                                <td th:each="tempTeacher : ${teacherList}"
                                    th:if="${tempTeacher.id.equals(tempTeacherName)}"
                                    th:text="${tempTeacher.firstName}"/>
                                to online journal!</p>

                            </li>

                            <li class="nav-image">
                                <img th:src="@{/images/profile.jpg}" alt="Profile" style="width:75px;">
                            </li>

                            <li class="user mr-4 mt-3 text-info">
                                User: <span sec:authentication="principal.username"></span>
                            </li>

                            <li class="role mt-3 text-info">
                                Role: <span sec:authentication="principal.authorities"></span>
                            </li>
                            <li>

                                <form role="form" class="form-horizontal col-lg-12 text-center" action="#"
                                      th:action="@{/showTeacherLoginPage/logout}"
                                      method="POST">

                                    <div class="col-lg-12 mt-2">
                                        <button type="submit" class="btn btn-success">Logout</button>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a th:href="@{/journal(teacherName=${tempTeacherName})}"
                                   class="disabled" aria-disabled="true">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/grades(teacherName=${tempTeacherName})}" class="text-light">Grades</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/students(teacherName=${tempTeacherName})}"
                                   class="text-light">Students</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/news(teacherName=${tempTeacherName})}" class="text-light">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>


</div>


<div sec:authorize="hasRole('student')">

    <header id="header-stud">
    <div class="container-fluid table-warning">
        <div class="row">
            <div class="col-lg-12">

                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav col-lg-12 text-nowrap">
                        <li class="welcome text-center text-nowrap mr-4 mt-3">
                            <p>Welcome
                            <td th:each="tempStudent : ${studentList}"
                                th:if="${tempStudent.id.equals(tempStudentName)}"
                                th:text="${tempStudent.firstName}"/>
                            to online journal!</p>

                        </li>

                        <li class="nav-image">
                            <img th:src="@{/images/profile.jpg}" alt="Profile" style="width:75px;">
                        </li>

                        <li class="user mr-4 mt-3 text-info">
                            User: <span sec:authentication="principal.username"></span>
                        </li>

                        <li class="role mt-3 text-info">
                            Role: <span sec:authentication="principal.authorities"></span>
                        </li>
                        <li>

                            <form role="form" class="form-horizontal col-lg-12 text-center" action="#"
                                  th:action="@{/showMyLoginPage/logout}"
                                  method="POST">

                                <div class="col-lg-12 mt-2">
                                    <button type="submit" class="btn btn-success">Logout</button>
                                </div>
                            </form>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>

    <section>
        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-lg-12 panel">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav col-lg-9 ml-auto text-nowrap mt-3">
                            <li class="nav-panel col-lg-2 ml-5">
                                <a th:href="@{/journal(studentName=${tempStudentName})}"
                                   class="disabled" aria-disabled="true">Journal</a>
                            </li>
                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/grades(studentName=${tempStudentName})}" class="text-light">Grades</a>
                            </li>

                            <li class="nav-panel col-lg-2">
                                <a th:href="@{/news(studentName=${tempStudentName})}" class="text-light">News</a>
                            </li>

                        </ul>


                    </nav>

                </div>

            </div>
        </div>
    </section>


</div>


<div sec:authorize="hasRole('teacher')">
    <div class="container-fluid">
        <div class="row col-lg-6">
            <div class="text-left ml-auto mr-4  mt-2 col-lg-9">
                <form action="#" th:action="@{/registry-lesson}">
                    <input type="submit" class="btn btn-primary" value="New lesson">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">

            <div style="text-align: center; padding-bottom: 20px;">


                <select class="selectpicker" id="id_dateId" data-style="btn-success text-light" data-width="225px"
                        title="select date" onchange="date_class_student()">


                    <div class="dropdown-menu">
                        <option class="dropdown-item" value="">None</option>
                        <option class="dropdown-item" th:each="date : ${dateLessonList}" th:value="${date}"
                                th:text="${date}" th:selected="${date.equals(datLesson)}">

                        </option>
                    </div>
                </select>
            </div>
        </div>
    </div>
</div>
</div>


<div sec:authorize="hasRole('teacher')">

    <script>
        function date_class_student() {
            var date = document.getElementById("id_dateId").value;
            var classNameStudent = document.getElementById("id_instId").value;
            var studentName = document.getElementById("id_studentName").value;
            var teacherName = [[${tempTeacherName}]];
            window.location = 'journal?datLesson=' + date + '&clName=' + classNameStudent + '&studentName='
                + studentName + '&teacherName=' + teacherName;
        }
    </script>


    <p></p>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="btn-group ml-auto col-lg-8">

                <div class="col-lg-4  ml-5">
                    <div style="text-align: center; padding-bottom: 20px;">

                        <select class="selectpicker" id="id_instId" data-style="btn-success text-light"
                                data-width="225px"
                                title="select student class" onchange="date_class_student()">
                            <div class="dropdown-menu">
                                <option class="dropdown-item" value="">None</option>
                                <option class="dropdown-item" th:each="className : ${classnameStudentList}"
                                        th:value="${className}"
                                        th:text="${className}" th:selected="${className.equals(classNameStudent)}">

                                </option>
                            </div>
                        </select>

                    </div>
                </div>


                <div class="col-lg-7 mr-auto ml-1">
                    <div style="text-align: left; padding-bottom: 20px;">

                        <select class="selectpicker" id="id_studentName" name="id_studentName"
                                data-style="btn-success text-light" data-width="350px" title="select student"
                                onchange="date_class_student()">

                            <div class="dropdown-menu">
                                <option class="dropdown-item" value="">None</option>
                                <option class="dropdown-item" th:each="tempStudent : ${studentList}"
                                        th:value="${tempStudent.id}"
                                        th:text="${tempStudent.lastName} + ' ' + ${tempStudent.firstName}  + ' ' + ${tempStudent.middleName}"
                                        th:selected="${tempStudent.id.equals(tempStudentName)}">
                                </option>
                            </div>
                        </select>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div sec:authorize="hasRole('student')">

    <script>
        function date_class_student() {
            var date = document.getElementById("id_dateId").value;
            var studentName = document.getElementById("id_studentName").value;
            window.location = 'journal?datLesson=' + date + '&studentName=' + studentName;
        }
    </script>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="btn-group ml-auto col-lg-8">

                <div class="col-lg-7 mr-auto ml-1">
                    <div style="text-align: center; padding-bottom: 20px;">

                        <select class="selectpicker" id="id_studentName" name="id_studentName"
                                data-style="btn-success text-light" data-width="350px" title="select student">

                            <div class="dropdown-menu">
                                <option class="dropdown-item" value="" disabled>None</option>
                                <option class="dropdown-item" th:each="tempStudent : ${studentList}"
                                        th:value="${tempStudent.id}"
                                        th:text="${tempStudent.lastName} + ' ' + ${tempStudent.firstName}  + ' ' + ${tempStudent.middleName}"
                                        th:selected="${tempStudent.id.equals(tempStudentName)}" disabled>
                                </option>
                            </div>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<div th:name="${tempStudentName}"
     th:if="${tempStudentName} != null">

    <div class="container-fluid tab">
        <div class="row">
            <div class="col-lg-12">


                <table border="1" table style="width: 1900px;"
                       class="table-hover table-bordered border-0">
                    <thead>
                    <tr class="d-flex col-lg-11 ml-auto justify-content-center">
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-sm-1">
                            № lesson
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center text-center text-nowrap col-1">
                            Time lesson
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center text-center text-nowrap  col-sm-1">
                            Course
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-1">
                            Class
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-2">
                            School building
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-sm-2">
                            Homework
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-1">
                            Time Break
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-1">
                            Score
                        </th>
                        <div sec:authorize="hasRole('teacher')">
                            <th class="table-warning d-inline-flex justify-content-center align-items-center col-2">
                                Action
                            </th>
                        </div>
                    </tr>
                    </thead>


                    <div class="d-flex" th:each="tempJournal,journalCount : ${journal}">

                        <thead>
                        <div sec:authorize="hasRole('teacher')">
                            <th class="d-flex border-0"

                                th:if="${journalCount.first}">
                                <div class="d-flex col-lg-10">
                                    <div class="col-lg-2 ml-5 text-center"
                                         th:text="${#dates.format(tempJournal.date_lesson, 'EE, dd')}"></div>
                                </div>
                            </th>
                        </div>
                        <div sec:authorize="hasRole('student')">
                            <th class="d-flex border-0"

                                th:if="${journalCount.first}">
                                <div class="d-flex col-lg-10">
                                    <div class="col-lg-5 ml-2  text-center"
                                         th:text="${#dates.format(tempJournal.date_lesson, 'EE, dd')}"></div>
                                </div>
                            </th>
                        </div>
                        </thead>


                        <div th:if="${journalCount.first}"
                             th:each="dataRowTemp, firstData : ${dateFullFormatLessonList}">


                            <div th:each="journalTem,journalCoun : ${journal.?[date_lesson == #root.dataRowTemp.dateLesson]}">

                                <thead>
                                <div sec:authorize="hasRole('teacher')">
                                <th class="d-flex border-0 mt-5"

                                    th:if="${journalTem.date_lesson != tempJournal.date_lesson}">
                                    <div class="d-flex col-lg-10">
                                        <div class="col-lg-2 ml-5 text-center"
                                             th:text="${#dates.format(journalTem.date_lesson, 'EE, dd')}"></div>
                                    </div>
                                </th>
                                </div>

                                <div sec:authorize="hasRole('student')">
                                    <th class="d-flex border-0 mt-5"

                                        th:if="${journalTem.date_lesson != tempJournal.date_lesson}">
                                        <div class="d-flex col-lg-10">
                                            <div class="col-lg-5 ml-2 text-center"
                                                 th:text="${#dates.format(journalTem.date_lesson, 'EE, dd')}"></div>
                                        </div>
                                    </th>
                                </div>
                                </thead>


                                <thead>
                                <tr class="d-flex col-lg-11 ml-auto justify-content-center border-0"
                                    th:if="${journalCoun.first}"
                                    th:each="journalTemp,journalCo : ${journal.?[date_lesson == #root.dataRowTemp.dateLesson]}">


                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-sm-1"
                                        th:text="${journalTemp.number_lesson}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center text-nowrap col-1"
                                        th:text="${journalTemp.time_lesson}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center col-sm-1"
                                        th:text="${journalTemp.fullname_course}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-1"
                                        th:text="${journalTemp.class_name}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-2"
                                        th:text="${journalTemp.school_building}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center text-nowrap col-sm-2"
                                        th:text="${journalTemp.homework}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center text-nowrap col-1"
                                        th:text="${journalTemp.time_break}"/>
                                    <td class="table-warning  d-inline-flex justify-content-center align-items-center col-1"
                                        th:text="${journalTemp.overall_score}"/>

                                    <div sec:authorize="hasRole('teacher')">
                                        <td class="table-warning d-inline-flex justify-content-center align-items-center col-2">

                                            <div class="justify-content-center mr-4 col-4">
                                                <a th:href="@{/formForUpdate(journalId=${journalTemp.id}, studName=${tempStudentName},
                   idScore=${journalTemp.getId_sc()}, datLesson=${datLesson})}"
                                                   class="btn btn-primary btn-sm"
                                                   role="button">Update</a>
                                            </div>

                                            <div class="justify-content-center mr-2  col-4">
                                                <a th:href="@{/deleteScore(journalId=${journalTemp.id}, idStudName=${tempStudentName},
                 datLesson=${datLesson})}" class="btn btn-danger btn-sm" style="width: 80px;"
                                                   role="button">Delete</a>
                                            </div>

                                        </td>
                                    </div>

                                </tr>
                                </thead>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>

</tbody>

</div>
</div>


<div sec:authorize="hasRole('teacher')">

    <div th:name="${tempStudentName}"
         th:if="${tempStudentName} == null">

        <div class="container-fluid tab">
        <div class="row">
            <div class="col-lg-12">
                <table border="1" table style="width: 1900px;"
                       class="table-hover table-bordered border-0">
                    <thead>
                    <tr class="d-flex col-lg-11 ml-auto justify-content-center">
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-sm-1">
                            № lesson
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center text-center text-nowrap col-1">
                            Time lesson
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center text-center text-nowrap  col-sm-1">
                            Course
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-1">
                            Class
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-2">
                            School building
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-sm-2">
                            Homework
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-1">
                            Time Break
                        </th>
                        <th class="table-warning d-inline-flex justify-content-center align-items-center col-2">
                            Action
                        </th>
                    </tr>
                    </thead>


                    <div th:each="tempJournals,journalsCount : ${journals}">

                        <thead>
                        <th class="d-flex border-0"

                            th:if="${journalsCount.first}">
                            <div class="d-flex col-lg-12">
                                <div class="col-lg-3 ml-4 text-center"
                                     th:text="${#dates.format(tempJournals.dateLesson, 'EE, dd')}"></div>
                            </div>
                        </th>
                        </thead>

                        <div th:if="${journalsCount.first}"
                             th:each="tempDataRow, dataFirst : ${dateFullFormatLessonList}">


                            <div th:each="JournalsTem,countJournal : ${journals.?[dateLesson == #root.tempDataRow.dateLesson]}">

                                <thead>

                                <th class="d-flex border-0 mt-5"

                                    th:if="${JournalsTem.dateLesson != tempJournals.dateLesson}">
                                    <div class="d-flex col-lg-12">
                                        <div class="col-lg-3 ml-4 text-center"
                                             th:text="${#dates.format(JournalsTem.dateLesson, 'EE, dd')}"></div>
                                    </div>
                                </th>
                                </thead>

                                <thead>
                                <tr class="d-flex col-lg-11 ml-auto justify-content-center border-0"
                                    th:if="${countJournal.first}"
                                    th:each="journalsTemp,countJournals : ${journals.?[dateLesson == #root.tempDataRow.dateLesson]}">


                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-sm-1"
                                        th:text="${journalsTemp.numberLesson}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center text-nowrap col-1"
                                        th:text="${journalsTemp.timeLesson}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center  col-sm-1"
                                        th:text="${journalsTemp.fullnameCourse}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-1"
                                        th:text="${journalsTemp.className}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-2"
                                        th:text="${journalsTemp.schoolBuilding}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center col-sm-2"
                                        th:text="${journalsTemp.homework}"/>
                                    <td class="table-warning d-inline-flex justify-content-start align-items-center text-nowrap col-1"
                                        th:text="${journalsTemp.timeBreak}"/>
                                    <td class="table-warning d-inline-flex justify-content-center align-items-center col-2">

                                        <div class="justify-content-center mr-4 col-4">
                                            <a th:href="@{/formForUpdate(journalId=${journalsTemp.id}, datLesson=${datLesson},
                 clName=${classNameStudent})}"
                                               class="btn btn-primary btn-sm"
                                               role="button">Update</a>
                                        </div>

                                        <div class="justify-content-center mr-2  col-4">
                                            <a th:href="@{/delete(journalId=${journalsTemp.id}, datLesson=${datLesson},
                 clName=${classNameStudent})}" class="btn btn-danger btn-sm" style="width: 80px;"
                                               role="button">Delete</a>
                                        </div>

                                    </td>

                                </tr>
                                </thead>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

</tbody>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>


</body>
</html>