<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Save Lesson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="card">
                <div class="card-body">

                    <form role="form" class="form-horizontal" action="#"
                          th:action="@{/saveLesson(studentId=${tempStudentName}, overallScore=${score.overallScore}, datLesson=${datLesson}, clName=${clName})}"
                          th:object="${journal}" method="POST">


                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <label for="dateLesson" class="control-label col-md-7 text-danger">Date lesson :</label>
                            <div class="col-md-5">
                                <input type="date" class="form-control-md input-md" id="dateLesson"
                                       th:field="*{dateLesson}"
                                       placeholder="Date lesson">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numberLesson" class="control-label col-md-7 text-danger">Number lesson :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="numberLesson"
                                       th:field="*{numberLesson}" placeholder="Number lesson" readonly/>

                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    function numberlesson_timebreak() {
                                        var temp_timelesson = document.getElementById("timeLesson").value;

                                        /*[# th:each="ClassSchedule : ${ClassScheduleList}"]*/
                                        var temp_timeles =  [[${ClassSchedule.timeLessonClShedule}]];

                                        if(temp_timelesson == temp_timeles){
                                            var number_lesson = [[${ClassSchedule.numberLessonClShedule}]];
                                            var time_break = [[${ClassSchedule.timeBreakClShedule}]];

                                            document.getElementById('numberLesson').value = number_lesson;
                                            document.getElementById('timeBreak').value = time_break;

                                        }
                                        if(temp_timelesson == ""){
                                            var number_lesson = "";
                                            var time_break = "";

                                            document.getElementById('numberLesson').value = number_lesson;
                                            document.getElementById('timeBreak').value = time_break;

                                        }

                                        /*[/]*/
                                        /*]]>*/
                                    };
                                </script>


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeLesson" class="control-label col-md-7 text-danger">Time lesson :</label>
                            <div class="col-md-5">

                                <select class="form-control-md input-md" id="timeLesson" name="timeLesson"
                                        onchange="numberlesson_timebreak();"
                                        placeholder="Time lesson">

                                    <option value=""> -- select an option --</option>

                                    <option th:each="ClassSchedule : ${ClassScheduleList}"
                                            th:attr="value = ${ClassSchedule.timeLessonClShedule}"
                                            th:text="${ClassSchedule.timeLessonClShedule}"
                                            th:selected="${ClassSchedule.timeLessonClShedule.equals(journal.timeLesson)}">
                                    </option>

                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fullnameCourse" class="control-label col-md-7
                             text-danger">Full name course :</label>
                            <div class="col-md-5">

                                <select class="form-control-md input-md" id="fullnameCourse"
                                        name="fullnameCourse"
                                        onchange="shortname_classname_schoolbuilding_cours();"
                                        placeholder="Full name course" >

                                    <option value=""> -- select an option --</option>

                                    <option th:each="tempCourse : ${courseList}"
                                            th:attr="value = ${tempCourse.courseName}"
                                            th:text="${tempCourse.courseName}"
                                            th:selected="${tempCourse.courseName.equals(journal.fullnameCourse)}">
                                    </option>


                                </select>


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shortnameCourse" class="control-label col-md-7 text-danger">Short name course :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="shortnameCourse"
                                       th:field="*{shortnameCourse}"
                                       placeholder="Short name course" readonly>

                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    function shortname_classname_schoolbuilding_cours() {
                                        var temp_fullnamecs = document.getElementById("fullnameCourse").value;

                                        /*[# th:each="tempCourse : ${courseList}"]*/
                                        var temp_name =  [[${tempCourse.courseName}]];

                                        if(temp_fullnamecs == temp_name){
                                          var short_name = [[${tempCourse.courseShortName}]];
                                          var class_name = [[${tempCourse.className}]];
                                          var school_building = [[${tempCourse.schoolBuilding}]];
                                         document.getElementById('shortnameCourse').value = short_name;
                                         document.getElementById('className').value = class_name;
                                         document.getElementById('schoolBuilding').value = school_building;
                                        }
                                        if(temp_fullnamecs == ""){
                                            var short_name = "";
                                            var class_name = "";
                                            var school_building = "";
                                            document.getElementById('shortnameCourse').value = short_name;
                                            document.getElementById('className').value = class_name;
                                            document.getElementById('schoolBuilding').value = school_building;
                                        }

                                        /*[/]*/
                                    /*]]>*/
                                    };
                                </script>


                            </div>
                        </div>

                        <div class="form-group">
                            <label for="className" class="control-label col-md-7 text-danger">Room :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="className"
                                       th:field="*{className}"
                                       placeholder="Room" readonly>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="schoolBuilding" class="control-label col-md-7 text-danger">School building :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="schoolBuilding"
                                       th:field="*{schoolBuilding}"
                                       placeholder="School building" readonly>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="homework" class="control-label col-md-7 text-danger">Homework :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="homework"
                                       th:field="*{homework}"
                                       placeholder="Homework">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="classnameStudent" class="control-label col-md-7
                             text-danger">Class name Student :</label>
                            <div class="col-md-5">

                                <select class="form-control-md input-md" id="classnameStudent"
                                        name="classnameStudent"
                                        placeholder="Class name Student" >

                                    <option value=""> -- select an option --</option>

                                    <option th:each="tempclassnameStudent : ${classnameStudentList}"
                                            th:attr="value = ${tempclassnameStudent}"
                                            th:text="${tempclassnameStudent}"
                                            th:selected="${tempclassnameStudent.equals(journal.classnameStudent)}">
                                    </option>


                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="timeBreak" class="control-label col-md-7 text-danger">Time break :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control-md input-md" id="timeBreak"
                                       th:field="*{timeBreak}" placeholder="Time break" readonly/>

                            </div>
                        </div>


                        <div class="form-group" th:name="${tempStudentName}" th:if="${tempStudentName} != null">
                            <select th:id="id_sc" th:name="id_sc">


                                <option value="">-- select score --</option>

                                <option th:each="tempScore : ${scoreList}" th:attr="value = ${tempScore.id_sc}"
                                        th:text="${tempScore.overallScore}"
                                        th:selected="${tempScore.overallScore.equals(score.overallScore)}">
                                </option>

                            </select>

                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Save Lesson</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!--kkk-->

<!--bbhj-->
</body>
